.craft-container {
    background: url("https://i.ibb.co/Kb7jHFV/background-main.jpg");
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.box {
    width: 97%;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 2;
    border-radius: 12px;
}

.overlay {
    z-index: 9;
    margin: 400px 6px 100px 15px;
    background: whitesmoke;
}

.font-link {
    font-family: 'Bebas Neue', cursive;
    padding: 0 10px;
    white-space: normal;
    word-break: break-word;
    display: block;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 200%;
    width: 600px;
    margin: auto;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
