.main-container {
    background-color: pink;
    height: 135vh;
  }
  
  .craft-container {
    background: url("https://i.ibb.co/Kb7jHFV/background-main.jpg") ;
    height: 135vh;
    width: 170vh;
    background-size: cover;
    flex: 1;
    margin: 0 auto;
  }
  
  @media only screen and (min-width: 1024px)  {
    .main-container {
      background-color: pink;
      height: 135vh;
    }
  
    .craft-container {
      background: url("https://i.ibb.co/Kb7jHFV/background-main.jpg") ;
      height: 135vh;
      width: 170vh;
      background-size: cover;
      flex: 1;
      margin: 0 auto;
    }
  }
  
  .font-link {
    font-family: 'Bebas Neue', cursive;
    padding: 0 10px;
    white-space: normal;
    word-break: break-word;
    display: block;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 200%;
    width: 600px;
    margin: auto;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .box {
    width: 163vh;
    height: 95vh;
    position: absolute;
    top: -150px;
    left: 25vh;
    opacity: 2;
    border-radius: 12px;
  }
  
  .overlay {
    z-index: 9;
    margin: 400px 6px 100px 15px;
    background: whitesmoke;
  }
  
  .cards-list {
    margin: 0px;
    padding: 1rem 1rem;
    text-align: center;
  }
  
  .cards-craft {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    width: 48%;
    border-radius: 12px;
    box-shadow: 5px 10px #888888;
    margin-bottom: 15px;
    margin-inline: 5px;
  
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 12px;
    }
  
    h2 {
      color: red;
    }
  
  }
  
  .color-navbar {
    background-color: palevioletred;
  }
  
  .center-navbar {
    margin-left: 35%;
  }
  
  .active {
    color: aqua !important;
  }
  
  .linkText { 
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff !important;
    font-family: Rokkitt, sans-serif;
    clear: both;
    line-height: 1.5;
    
  }
  
  .linkText:hover {
    background-color: #333;
  }
  
  