//// NavBar //// 
.color-navbar {
  background-color: palevioletred;
}

.active {
  color: #f5deb3 !important;
}

.linkText:hover {
  background-color: #333;
}

.linkText { 
  float: none;
  line-height: 19px;
  padding: 9px 10px 11px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-family: Rokkitt, sans-serif;
  clear: both;
  line-height: 1.5;
}
//// NavBar ////

.font-link {
  font-family: 'Bebas Neue', cursive;
  padding: 0 10px;
  white-space: normal;
  word-break: break-word;
  display: block;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

//Desktop or Laptop
@media only screen and (min-width: 1224px)  {
  .center-navbar {
    margin-left: 35%;
  }

  .font-link {
    font-size: 180%;
  }

  .profile-container {
    display: flex;
    align-items: center;
    
    img {
      width: 250px;
      height: 250px;
      resize: 'contain';
      border-radius: 12px;
      margin-left: 20px;
      margin-right: 40px;
    }

    span {
      text-align: center;
    }
  }

}

//Mobiles
@media only screen and (max-width: 1224px)  {
  .center-navbar {
    font-size: 15px !important;
  }

  .font-link {
    font-size: 150%;
  }

  .profile-container {
    display:inline-block;
    position: relative;
    
    img {
      width: 250px;
      height: 250px;
      resize: 'contain';
      border-radius: 12px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    span {
      margin-left: 20px;
      display: inline-block;
      vertical-align:bottom;
    }
  }

  .mySwiper {
    width: 400px;
  }
}

.cards-list {
  text-align: center;
}

.cards-craft {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  width: 48%;
  border-radius: 12px;
  box-shadow: 5px 10px #888888;
  margin-bottom: 15px;
  margin-inline: 5px;

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
  }

  h2 {
    color: red;
  }
}

.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
}