.thumbnail-slider-wrap {
    margin-top: 15px;
    height: 85px;
  }
  .thumbnail-slider-wrap .slick-track .slick-slide {
    text-align: center;
    padding: 0 20px;
  }

  .thumbnail-slider-wrap .slick-track .slick-slide img {
    width: 70%;
    margin: 0 5px;
    
  }

  .center-image{
    display:flex;
    justify-content:center; /* horizontally center */
    align-items:center;    /* vertically center */

    vertical-align: middle;
  width: 100%;
  height: 100%;
  }
 

