.thumbnail-slider-wrap {
    margin-top: 15px;
    height: 50px;
  }
  .thumbnail-slider-wrap .slick-track .slick-slide {
    text-align: center;
    padding: 0 15px;
  }

  .thumbnail-slider-wrap .slick-track .slick-slide img {
    width: 70%;
    margin: 0 4px;
    
  }

  .center-image{
    display:flex;
    justify-content:center; /* horizontally center */
    align-items:center;    /* vertically center */
  }
 

